@media screen and (min-width: 800px) {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 10px;
  }
  .icon-container > .column {
    flex: none !important;
    padding: 10px !important;
  }
  ._25 {
    flex: 2.5;
  }
  ._5 {
    flex: 5;
  }
}

.rowIcon {
  text-align: left;
  margin: 30px;
}

/* @media screen and (min-width: 800px) {
  .rowIcon > .column {
    padding: 10px !important;
  }
} */

.icon-container > .column {
  flex-basis: 100% !important;
  padding: 10px !important;
}

.icon-container {
  height: 650px;
  overflow-y: auto;
  width: 33% !important;
}

.catalog-container {
  width: 68% !important;
  height: 650px;
  overflow-y: auto;
}

.catalog-container > column {
  padding: 0px !important;
}

.border-section-class {
  border: 1px solid #d81b60;
  border-radius: 3px;
  margin-top: 30px !important;
  height: 650px;
}

.divForMediaIcon {
  border: 1px solid #d81b60;
  background: antiquewhite;
  border-radius: 5px;
  float: none;
  width: 100%;
  align-self: center;
}

.media-from-archive {
  width: 200px;
  height: 200px;
  cursor: pointer;
  padding: "15px";
}

.icon-image img {
  width: 100%;
  padding: 0% !important;
  cursor: pointer;
}

.svg-image,
.svg-image > svg {
  width: 100% !important;
  height: 100px !important;
  margin: 0px !important;
}

.heading-class-title {
  display: inline;
}

.label-title {
  vertical-align: -webkit-baseline-middle !important;
  font-size: 30px;
  text-decoration: underline;
  text-decoration-color: #d81b60;
}

.label-sections {
  vertical-align: -webkit-baseline-middle !important;
  font-size: 20px;
  font-style: italic;
}

.label-groups {
  display: list-item;
}

.minimize-button {
  cursor: pointer;
  float: left;
  padding: 20px;
  margin: auto;
}

.overlay-content-archive {
  position: absolute;
  left: 15%;
  width: 82%;
  height: 90%;
  bottom: 10%;
  margin: 50px;
  float: bottom;
  background-color: white;
  margin: auto;
  border: 3px solid #d81b60;
  overflow-y: auto;
}

ul.media-archive-list {
  margin-top: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}

.media-archive-list .liForMedia {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 14px;
  float: left;
  width: 210px;
  align-self: center;
}

.media-archive-list .divForMedia {
  margin: 7px 4px 7px 4px;
  background-color: #eeeeee;
  position: relative;
  float: left;
  width: 200px;
}
