@media screen and (min-width: 800px) {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 10px;
  }
  .icon-container > .column {
    flex: none !important;
    padding: 10px !important;
  }
  ._25 {
    flex: 2.5;
  }
  ._5 {
    flex: 5;
  }
}

.rowIcon {
  text-align: left;
  margin: 30px;
}

@media screen and (min-width: 800px) {
  .rowIcon > .column {
    padding: 10px !important;
  }
}

.icon-container > .column {
  flex-basis: 0% !important;
  padding: 10px !important;
}

.rowIcon .icon-container {
  width: 30% !important;
}

.icon-container {
  width: 30% !important;
  height: 650px;
  overflow-y: auto;
}

.catalog-container {
  width: 72% !important;
  height: 650px;
  overflow-y: auto;
}

.catalog-container > column {
  padding: 0px !important;
}

.border-section-class {
  border: 1px solid #d81b60;
  border-radius: 3px;
  margin-top: 30px !important;
  height: 650px;
}

.divForMediaIcon {
  border: 1px solid #d81b60;
  background: antiquewhite;
  border-radius: 5px;
  float: none;
  width: 100%;
  align-self: center;
}

.icon-image img {
  width: 100%;
  padding: 0% !important;
  cursor: pointer;
}

.svg-image,
.svg-image > svg {
  width: 100% !important;
  height: 100px !important;
  margin: 0px !important;
}

.heading-class-title {
  display: inline;
}

.label-title {
  vertical-align: -webkit-baseline-middle !important;
  font-size: 30px;
  text-decoration: underline;
  text-decoration-color: #d81b60;
}

.label-sections {
  vertical-align: -webkit-baseline-middle !important;
  font-size: 20px;
  font-style: italic;
}

.label-groups {
  display: list-item;
}

div .scrollbarStyle div::-webkit-scrollbar {
  width: 30px;
  right: 0;
  top: 0;
  overflow-x: scroll;
}

/*flechas*/
div .scrollbarStyle div::-webkit-scrollbar-button:vertical:decrement {
  background-image: url(/UtilsImages/up.png);
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

div .scrollbarStyle div::-webkit-scrollbar-button:vertical:increment {
  background-image: url(/UtilsImages/down.png);
  border-left: 1px solid black;
  border-top: 1px solid black;
}

div .scrollbarStyle div::-webkit-scrollbar-track {
  border-left: 1px solid black;
}

div .scrollbarStyle div::-webkit-scrollbar-thumb {
  background: #d6d6d6;
  border-radius: 10px;
  border: 1px solid black;
  border-right: 0px;
}

div .scrollbarStyle div::-webkit-scrollbar-thumb:hover {
  background: #bdbdbd;
}
